@charset "UTF-8";

body{
    background-color: rgb(170, 246, 170);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(6, 152, 6);
    
}
h1#principal{
    background-color: green;
    color: white;
    text-align: center;
}
h2{
    color: rgb(55, 101, 55);
}
.basico{
    color: green;
}
.intermediario{
    color: yellowgreen ;

}
.avancado{
    color: red;
}